
<script src="../../public/js/newsale.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<div class=""><h4>Let's have a sale!</h4></div>

<form class="ui form">

  <div class="field">
    <label>Title</label>
    <input id="title" placeholder="Type an attention grabbing title!" type="text">
  </div>
  <br>
  <div class="field">
    <label>Sale Type</label>
    <select class="ui fluid dropdown" id="sale_type" required>
      <option value="yard_sale">Yard Sale</option>
      <option value="estate_sale">Estate Sale</option>
      <option value="auction">Auction</option>
    </select>
  </div>
  <br/>
  <h3>Start & End Dates</h3>
  <div class="two fields">
    <div class="field">
		<label>Sale Type</label>
		<select class="ui fluid dropdown" id="sale_type" required>
			<option value="yard_sale">Yard Sale</option>
			<option value="estate_sale">Estate Sale</option>
			<option value="auction">Auction</option>
		</select>
	</div>
    <br/>
    <h3>Start & End Dates</h3>
    <div class="two fields">
      <div class="field">
        <label>Start date</label>
        <div class="ui calendar" >
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input class="ui-timepicker-input" id="rangestart" type="text" placeholder="Enter the start date">
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input id="rangeend" type="text" placeholder="Enter the end date">
        </div>
      </div>
    </div>
  </div>
  <h3>Start & End Times</h3>
  <div class="two fields">
    <div class="field">
      <label>Start Time</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="time icon"></i>
          <input id="startTime" type="text" placeholder="Time">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="time icon">16:00</i>
          <input id="endTime" type="text" placeholder="Time">
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Description - Items for sale, special notes, etc</label>
    <textarea id="desc">What are you selling? Be descriptive!</textarea>
  </div>
  <div class="field">
    <label>Address</label>
    <textarea id="address"></textarea>
  </div>
  <div class="field">
    <label>City</label>
    <textarea id="city"></textarea>
  </div>
  <div class="field">
    <label>State</label>
    <textarea id="state"></textarea>
  </div>
  <div class="field">
    <label>Zip Code</label>
    <textarea id="zip"></textarea>
  </div>
  <h3>Additonal Details</h3>
  <div class="three fields">
    <div class="field">
      <label>Is there street parking available?</label>
      <select class "ui fluid dropdown" id="parking">
        <option selected="selected" value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="field">
      <label>Is it inside, outside, or both?</label>
      <select class "ui fluid dropdown" id="inside_outside">
        <option selected="selected" value="outside">Outside</option>
        <option value="inside">Inside</option>
        <option value="both">Both</option>
      </select>
    </div>
    <div class="field">
      <label>Will you cancel for rain?</label>
      <select class "ui fluid dropdown" id="weather_cancel">
        <option selected="selected" value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
      
 <div class="ui submit addsale button">Submit</div>
<div>
        <br/>
        <h2 class="ui header">
        <i class="calendar icon"></i>
          <div class="content"> 
            Set Lifetime of Form 
          </div>
        </h2>
        <br/>
      <div class="ui calendar" id="example1">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date/Time">
        </div>
      </div>
    </div>

  <div class="ui submit addsale button">Submit</div>




</form>