
<div class=""><h4>Let's have a sale!</h4></div>

<form class="ui form">
  
    <div class="field">
      <label>Title</label>
      <input id="title" placeholder="Type an attention grabbing title!" type="text">
    </div>
    <br>
    <div class="field">
		<label>Sale Type</label>
		<select class="ui fluid dropdown" id="sale_type" required>
			<option value="yard_sale">Yard Sale</option>
			<option value="estate_sale">Estate Sale</option>
			<option value="auction">Auction</option>
		</select>
	</div>
    <br/>
    <h3>Start & End Dates</h3>
    <div class="two fields">
      <div class="field">
        <label>Start date</label>
        <div class="ui calendar" >
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input id="rangestart" type="text" placeholder="Enter the start date">
          </div>
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <div class="ui calendar" >
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input id="rangeend" type="text" placeholder="Enter the end date">
          </div>
        </div>
      </div>
    </div>
    <h3>Start & End Times</h3>
    <div class="two fields">
      <div class="field">
        <label>Start Time</label>
        <div class="ui calendar" >
          <div class="ui input left icon">
            <i class="time icon"></i>
            <input id="startTime" type="text" placeholder="Time">
          </div>
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <div class="ui calendar" >
          <div class="ui input left icon">
            <i class="time icon">16:00</i>
            <input id="endTime" type="text" placeholder="Time">
          </div>
        </div>
      </div>
    </div>
    <div class="field">
    <label>Description - Items for sale, special notes, etc</label>
    <textarea id="desc">What are you selling? Be descriptive!</textarea>
    </div>
    <div class="field">
    <label>Address</label>
    <textarea id="address"></textarea>
    </div>
    <div class="field">
    <label>City</label>
    <textarea id="city"></textarea>
    </div>
    <div class="field">
    <label>State</label>
    <textarea id="state"></textarea>
    </div>
    <div class="field">
    <label>Zip Code</label>
    <textarea id="zip"></textarea>
    </div>
   <h3>Additonal Details</h3>
    <div class="three fields">
        <div class="field">
            <label>Is there street parking available?</label>
            <div class="ui selection dropdown">
            <input id="parking" name="parking" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Yes</div>
            <div class="menu">
                <div class="item" data-value="1">Yes</div>
                <div class="item" data-value="0">No</div>
            </div>
            </div>
        </div>
        <div class="field">
            <label>Is it inside, outside, or both?</label>
            <div class="ui selection dropdown">
            <input id="inside_outside" name="inside_outside" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Inside</div>
            <div class="menu">
                <div class="item" data-value="Inside">Inside</div>
                <div class="item" data-value="Outside">Outside</div>
                <div class="item" data-value="Both">Both</div>
            </div>
            </div>
        </div>
        <div class="field">
            <label>Will you cancel for rain?</label>
            <div class="ui selection dropdown">
            <input id="weather_cancel" name="weather_cancel" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">No</div>
            <div class="menu">
                <div class="item" data-value="1">Yes</div>
                <div class="item" data-value="0">No</div>
            </div>
            </div>
        </div>    
    </div>
      
 <div class="ui submit addsale button">Submit</div>




</form>  

  
  
  
  