
<div class=""><h4>Let's have a sale!</h4></div>

<form class="ui form">
  
    <div class="field">
      <label>Title</label>
      <input placeholder="Type an attention grabbing title!" type="text">
    </div>
    <br/>
    <h3>Start & End Dates</h3>
    <div class="two fields">
      <div class="field">
        <label>Start date</label>
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Enter the start date">
          </div>
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Enter the end date">
          </div>
        </div>
      </div>
    </div>
    <h3>Start & End Times</h3>
    <div class="two fields">
      <div class="field">
        <label>Start Time</label>
        <div class="ui calendar" id="startTime">
          <div class="ui input left icon">
            <i class="time icon"></i>
            <input type="text" placeholder="Time">
          </div>
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <div class="ui calendar" id="endTime">
          <div class="ui input left icon">
            <i class="time icon">16:00</i>
            <input type="text" placeholder="Time">
          </div>
        </div>
      </div>
    </div>
    <div class="field">
    <label>Description - Items for sale, special notes, etc</label>
    <textarea id="desc">What are you selling? Be descriptive!</textarea>
    </div>
    <div class="field">
    <label>Address</label>
    <textarea id="address"></textarea>
    </div>
    <div class="field">
    <label>City</label>
    <textarea id="city"></textarea>
    </div>
    <div class="field">
    <label>State</label>
    <textarea id="state"></textarea>
    </div>
    <div class="field">
    <label>Zip Code</label>
    <textarea id="zip"></textarea>
    </div>
   <h3>Additonal Details</h3>
    <div class="three fields">
        <div class="field">
            <label>Is there street parking available?</label>
            <div class="ui selection dropdown">
            <input name="parking" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Yes</div>
            <div class="menu">
                <div class="item" data-value="1">Yes</div>
                <div class="item" data-value="0">No</div>
            </div>
            </div>
        </div>
        <div class="field">
            <label>Is it inside, outside, or both?</label>
            <div class="ui selection dropdown">
            <input name="inside_outside" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Inside</div>
            <div class="menu">
                <div class="item" data-value="Inside">Inside</div>
                <div class="item" data-value="Outside">Outside</div>
                <div class="item" data-value="Both">Both</div>
            </div>
            </div>
        </div>
        <div class="field">
            <label>Will you cancel for rain?</label>
            <div class="ui selection dropdown">
            <input name="weather_cancel" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">No</div>
            <div class="menu">
                <div class="item" data-value="1">Yes</div>
                <div class="item" data-value="0">No</div>
            </div>
            </div>
        </div>    
    </div>
      
 <div class="ui submit addsale button">Submit</div>




</form>  

  
  
  
  