{{!-- Left Panel --}}
<div class="six wide column" id="left-panel">
  <div class="ui dimmer">
    <div class="content">
      <h2 class="ui inverted icon header">
        <i class="location arrow icon"></i>
        Buy Something
      </h2>
    </div>
  </div>
</div>
{{!-- Middle Divider --}}
<div class="ui vertical divider" id="divider">

</div>
{{!-- Right Panel --}}
<div class="six wide column" id="right-panel">
  <div class="ui dimmer">
    <div class="content">
      <h2 class="ui inverted icon header">
        <i class="money bill alternate icon"></i>
        Sell Something
      </h2>
    </div>
  </div>  
</div>
{{!-- Navbar --}}
<div class="ui bottom demo inverted nine item labeled icon sidebar menu overlay visible" style="">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a> 
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="heart icon"></i>
    Favorites
  </a>
  <a class="item">
    <i class="shop icon"></i>
    My Shop
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>
