{{!-- Form --}} {{!-- Start Date/End Date Start Time/End Time Is there ample street parking? Inside or Outside? Will you
cancel for rain? Items for sale description (Upload picture) --}}
<form class="ui form">
	<h4 class="ui dividing header teal">Create a Sale</h4>
	{{!-- first row --}} {{!-- username --}}
	<div class="field five wide">
		<label>Title</label>
		<div class="field">
			<input type="text" placeholder="Title" id="title" required>
		</div>
	</div>
	{{!-- second row --}} {{!-- password --}}

	<div class="field">
		<label>Sale Type</label>
		<select class="ui fluid dropdown" id="sale_type" required>
			<option value="yard_sale">Yard Sale</option>
			<option value="estate_sale">Estate Sale</option>
			<option value="auction">Auction</option>
		</select>
	</div>

	<h3>Dates</h3>
	<div class="ui form">
		<div class="two fields">
			<div class="field">
				<label>Start date</label>
				<div class="ui calendar" id="rangestart">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="Start">
					</div>
				</div>
			</div>
			<div class="field">
				<label>End date</label>
				<div class="ui calendar" id="rangeend">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="End">
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/> {{!-- last name --}}
	<h3>Time of Sale</h3>
	<div class="ui calendar" id="startTime">
		<div class="ui input left icon">
			<i class="time icon"></i>
			<input type="text" placeholder="Start Time">
		</div>
	</div>
	<br/>

	<div class="ui calendar" >
		<div class="ui input left icon" id="endTime">
			<i class="time icon"></i>
			<input type="text" placeholder="End Time">
		</div>
	</div>
	<br/>

	<div class="field">
		<label>Will there be street parking available?</label>

		<select class="ui fluid dropdown" id="parking" required>
			<option value="">Parking</option>
			<option value="1">Yes</option>
			<option value="0">No</option>

		</select>
	</div>
	<div class="field">
		<label>Will the sale be inside or outside?</label>

		<select class="ui fluid dropdown" id="inside_outside" required>
			<option value="Inside">Inside</option>
			<option value="Outside">Inside</option>
			<option value="Inside/Outside">Both</option>

		</select>
	</div>
	<div class="field">
		<label>Is this a rain or shine sale?</label>

		<select class="ui fluid dropdown" id="weather_cancel" required>
			<option value="">Yes</option>
			<option value="1">Yes</option>
			<option value="0">No</option>

		</select>
	</div>



	<div class="ui fluid large teal submit addsale button">Sign Up</div>
</form>
{{!-- Navbar --}}
<div class="ui bottom demo inverted nine item labeled icon sidebar menu overlay visible" style="">
	<a class="item" href="/">
		<i class="home icon"></i>
		Home
	</a>
	<a class="item">
		<i class="mail icon"></i>
		Messages
	</a>
	<a class="item">
		<i class="heart icon"></i>
		Favorites
	</a>
	<a class="item">
		<i class="shop icon"></i>
		My Shop
	</a>
	<a class="item">
		<i class="settings icon"></i>
		Settings
	</a>
</div>
