@font-face {
    font-family: logoFont;
    src: url("../font/Painter_PERSONAL_USE_ONLY.ttf");    
}

#content-wrapper {
    height: calc(100vh - 71px);
}

.ui {
    /* background-color: rgba(255, 255, 255, 0.8)!important; */
}

#logo {
    font-family: logoFont;
    color: #00B5AD;
    font-size: 40px;  
    /* float: left; */
    /* position: absolute; */
}

#salecards {
    /* float: left; */
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#soon-icon {
    width: 80px!important;
    position: absolute;
    bottom: 26px;
}

#cards-wrapper {
    height: calc(100vh - 56px);
    width: 500px;
    overflow: auto;
    overflow-x: hidden;
    /* float: left; */
    background-color: #1B1C1D;
}

.card {
    width: 100%!important;
    border-radius: 0!important;
    margin: 5px!important;
    box-shadow: none!important;
    background-color: rgb(38, 50, 56)!important;
}

.color-white  {
    color: white!important;
}

#map-wrapper {
    height: 100%;
    width: calc(100% - 500px); /* subract width of #cards-wrapper */
    float: left;
}

.tint {
    color: blue;
}

#map {
    height: 100%;
    width: 100%;
}
  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* @media screen and (max-width: 1024px) {
    #map {
        width: 100vw;
        height: 50vh;
    }
    #cards-wrapper {
        
    }
} */