@font-face {
    font-family: logo;
    src: url("../font/Blenda\ Script.otf");
}

#logo {
    font-family: logo;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 15px;
    top: 25px;
    border: none;
    user-select: none;
}

body {
    background-color: rgb(38, 50, 56);
}

#card1 {
    margin-bottom: 10px;
}

#left-panel {
    width: 50%;
    height: calc(100vh - 71px);
    float: left;
    background-image: url("../img/left_panel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#right-panel {
    width: 50%;
    height: calc(100vh - 71px);
    float: right;
    background-image: url("../img/right_panel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#right-panel h2, #left-panel h2, .dimmer {
    pointer-events: none;
}

#divider {
    font-size: 70px; 
    color: white;
    z-index: 1001;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ui.vertical.divider:before, .ui.vertical.divider:after {
    border-left: 1px solid rgba(255, 255, 255, 1)!important;
    border-right: 1px solid rgba(255, 255, 255, 1)!important;
}

.ui.vertical.divider:after {
    bottom: 71px!important;
}


.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 1024px) {
    #left-panel, #right-panel {
        width: 100%;
        height: calc(50vh - 36px);
    } 
    #divider, #logo {
        display: none;
    }
}