body {
    background-color: rgb(38, 50, 56)!important;
    padding: 40px!important;
}

form {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 500px!important;
}

form h4, label {
    color: white!important;
}

@media screen and (max-width: 844px) {
    body {
        padding-left: 10px!important;
        padding-right: 10px!important
    }
}